<div class="confirm-dialog">
  <div class="dialog-header">
    <mat-icon color="warn">warning</mat-icon>
    <h2 mat-dialog-title>{{ data.title }}</h2>
  </div>
  <mat-dialog-content>
    <p>{{ data.message }}</p>
    <p *ngIf="data.itemName" class="item-name">
      <strong>{{ data.itemName }}</strong>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
      Hayır
    </button>
    <button mat-raised-button color="warn" (click)="onConfirm()">
      <mat-icon>delete</mat-icon>
      Evet
    </button>
  </mat-dialog-actions>
</div>
